*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-']{
    float: left;
    border: 1px solid red;
}
.row:after{
    content: ' ';
    clear: both;
    display: block;
}
.wrapper{
    width: 90%;
    height: auto;
    margin: auto;
}
/*.header_top_height { height: 30px; }
.header_bottom_height { height: 200px; }
.menu_height { height: 50px; }
.content_height { height: 650px; }
.big_footer_height { height: 250px; }
.footer_height { height: 40px; }*/


@media screen and (max-width: 500px) {
    [class*='col-']{
        width: 100%;
    }
}
@media screen and (min-width: 501px) and (max-width: 780px) {
    .col-m1{ width: 8.33%; }
    .col-m2{ width: 16.66%; }
    .col-m3{ width: 25%; }
    .col-m4{ width: 33.33%; }
    .col-m5{ width: 41.66%; }
    .col-m6{ width: 50%; }
    .col-m7{ width: 58.33%; }
    .col-m8{ width: 66.66%; }
    .col-m9{ width: 75%; }
    .col-m10{ width: 83.33%; }
    .col-m11{ width: 91.66%; }
    .col-m12{ width: 100%; }

    .add_positoin{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .row_position{ position: relative; }
}
@media screen and (min-width: 781px) and (max-width: 980px) {
    .col-l1{ width: 8.33%; }
    .col-l2{ width: 16.66%; }
    .col-l3{ width: 25%; }
    .col-l4{ width: 33.33%; }
    .col-l5{ width: 41.66%; }
    .col-l6{ width: 50%; }
    .col-l7{ width: 58.33%; }
    .col-l8{ width: 66.66%; }
    .col-l9{ width: 75%; }
    .col-l10{ width: 83.33%; }
    .col-l11{ width: 91.66%; }
    .col-l12{ width: 100%; }


}


.shadow{
    height: 200px;
    width: 300px;
    background-color: #999999;
    margin: 20px;
    /*box-shadow: 0px 0px 30px 20px gray;*/
    box-shadow: 10px 10px gray;
}
.shadow p{
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px black;
}
.box_one{
    height: 200px;
    width: 90%;
    background-color: #660033;
    margin: 5%;
    /*box-shadow: 0px 0px 30px 20px gray;*/
    box-shadow: 0px 0px 0px 5px gray;
}

.content_one{
    border: 1px solid;
    height: auto;
}
.content_one h1{
    background-color: gray;
    height: 80px;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    color: white;
}

.my_column{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    text-align: justify;
    column-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-rule: dotted;
    -webkit-column-rule: dotted;
    -moz-column-rule: dotted;
    column-rule-color: red;
    -webkit-column-rule-color: red;
    -moz-column-rule-color: red;
}
.a{
     column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    padding-bottom: 10px;
}

.header_top_height { height: 30px; }
.header_bottom_height { height: 200px; }
.menu_height { height: 50px; }
.content_height { height: 650px; }
.big_footer_height { height: 250px; }
.footer_height { height: 40px; }

.my_gradient{
    max-height: 650px; 
    width: 100%;
    background-color: #6666ff;
    
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    /*background: linear-gradient(to bottom, black, silver, black);*/
    animation-name: bitm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    overflow-y: scroll;
    
}

@keyframes bitm{
    0% { background: linear-gradient(to bottom, black, silver, black); }
    50% { background: linear-gradient(to top, red, silver, blue); transition: 2s; }
    100% { background: linear-gradient(to bottom, black, silver, black); transition: 2s; }
}









