.jumbotron{
	//width:50px;
	//height:20px;
	//border:ipx solid;
	background-color:#f2f2f2;
	//text-shadow: 5px 5px 10px #00FF00;
}
.text-center{
	text-shadow: 5px 5px 10px #00FF00;
}
.btn{
	width: 25%;	
}
.home{
	color:green;
	width: 67px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;	
}
.customer{
	color:green;
	width: 108px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}
.supplier{
	color:green;
	width: 93px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;	
}
.product{
	color:green;
	width: 88px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}
.productCategory{
	color:green;
	width: 190px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;	
}
.productDetails{
	color:green;
	width: 167px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}
.order{
	color:green;
	width: 66px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}
.employee{
	color:green;
	width: 109px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}
.transaction{
	color:green;
	width: 128px;
    height: 27px;
	box-shadow: 2px 2px 4px #000000;
}

/*################### Start Home Menu Section ########################*/

/*################### End Home Menu Section ########################*/