body{
    width: 100%;
}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

/*Header*/
.header {
    background: #3B5998;
    overflow: hidden;
}
.header h1{
    color: #fff;
    font-weight: 700;
    text-align: center; 
    padding: 15px 0;
}

/*Admin Area Start*/
.admin_area {
    width: 17%;
    overflow: hidden;
    float: left;
    margin-top: 20px;
    
}
.single_admin_area h3 {
    width: 70%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 8px 0;
}
.single_admin_area ul{
    margin: 0;
    padding: 0;
}
.single_admin_area ul li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 9px;
    background: #3B5998;
    padding: 8px;
    width: 60%; 
}

.single_admin_area ul li a{
    color: #fff;
    display: block;
}
#active_menu {
    background: #ee6623;
}

/*
-------------------------------
Content Area Start
-------------------------------
*/


/*Customer List*/
#content_area_strat {
    width: 70%;
    overflow: hidden;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding-left: 12px;
}
.content_area_strat h3 {}
.customer_list_table {
    text-align: center;
}
.customer_list {}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
/*Order List*/
.order_list_area {}
.order_list_area h3{}
.order_list_table {}


/*Right Side Bar*/
.right_sidebar {
    width: 15%;
    overflow: hidden;
    float: right;
}


/*Footer Area*/
.footer_area {
    background: #3B5998;
    overflow: hidden;
    float: bottom;
    text-align: bottom;
    margin-top: 30px;
}
.footer_area p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    margin-left: 180px;
}


.form-group{
    padding: 5px 0;   
}
.form-control {
    margin-left: 20px   ;
    width: 300px;
}
.button-control {
    margin-left: 20px   ;
}
.control-label {
    margin-right: 7px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}
.form-horizontal {
    
}


.right_btn {
        margin-left: 38px;
    float: right;
    margin-right: 35px;
    margin-top: -47px;  
}